body {
	background-color:white;
}

ul#taskbar li a:hover {
    background-color: blue;
}

ul#taskbar li a {
    background-color: white;
    color: black;
    padding: 0px 3px;
    text-decoration: none;
    border-radius: 3px 3px 0 0;
}

ul#taskbar {
    padding: 0;
    text-align: right;
}

ul#taskbar li {
    display: inline;
    font-size: 50%;
    padding-right: 3px;
}